Let's bring some data of COVID from Brazil:

In [1]:
linkCovid1='https://github.com/DACSS-PreProcessing/DFaggregating/raw/refs/heads/main/datafiles/HIST_PAINEL_COVIDBR_2022_Parte1_20jul2022.csv'
linkCovid2='https://github.com/DACSS-PreProcessing/DFaggregating/raw/refs/heads/main/datafiles/HIST_PAINEL_COVIDBR_2022_Parte2_20jul2022.csv'
dataCovid1=read.csv(linkCovid1,sep = ';')
dataCovid2=read.csv(linkCovid2,sep = ';')

Let's concatenate both data frames:

In [2]:
dataCovid=do.call(rbind,list(dataCovid1, dataCovid2))

In [4]:
dataCovid$data=strptime(dataCovid$data, "%Y-%m-%d")
dataCovid$day=format(dataCovid$data,"%d")
dataCovid$year=format(dataCovid$data,"%Y")
dataCovid$month=format(dataCovid$data,"%m")
head(dataCovid)

  regiao estado municipio coduf codmun codRegiaoSaude nomeRegiaoSaude
1 Brasil                  76    NA     NA
2 Brasil                  76    NA     NA
3 Brasil                  76    NA     NA
4 Brasil                  76    NA     NA
5 Brasil                  76    NA     NA
6 Brasil                  76    NA     NA
  data       semanaEpi populacaoTCU2019 casosAcumulado casosNovos
1 2022-01-01 52        210147125        22291507        3986
2 2022-01-02  1        210147125        22293228        1721
3 2022-01-03  1        210147125        22305078       11850
4 2022-01-04  1        210147125        22323837       18759
5 2022-01-05  1        210147125        22351104       27267
6 2022-01-06  1        210147125        22386930       35826
  obitosAcumulado obitosNovos Recuperadosnovos emAcompanhamentoNovos
1 619105           49         21581668          90734
2 619133           28         21581717          92378
3 619209           76         21591847          94022
4 619384          175         21603954         100499
5 619513          129         21615473         116118
6 619641          128         21626836         140453
  interior.metropolitana day year month
1 NA                     01  2022 01
2 NA                     02  2022 01
3 NA                     03  2022 01
4 NA                     04  2022 01
5 NA                     05  2022 01
6 NA                     06  2022 01

In [5]:
saveRDS(dataCovid,"BrasilCovid.rds")

Now, check the data available:

In [ ]:
str(dataCovid)

'data.frame':	1129419 obs. of  17 variables:
 $ regiao                : chr  "Brasil" "Brasil" "Brasil" "Brasil" ...
 $ estado                : chr  "" "" "" "" ...
 $ municipio             : chr  "" "" "" "" ...
 $ coduf                 : int  76 76 76 76 76 76 76 76 76 76 ...
 $ codmun                : int  NA NA NA NA NA NA NA NA NA NA ...
 $ codRegiaoSaude        : int  NA NA NA NA NA NA NA NA NA NA ...
 $ nomeRegiaoSaude       : chr  "" "" "" "" ...
 $ data                  : chr  "2022-01-01" "2022-01-02" "2022-01-03" "2022-01-04" ...
 $ semanaEpi             : int  52 1 1 1 1 1 1 1 2 2 ...
 $ populacaoTCU2019      : int  210147125 210147125 210147125 210147125 210147125 210147125 210147125 210147125 210147125 210147125 ...
 $ casosAcumulado        : num  22291507 22293228 22305078 22323837 22351104 ...
 $ casosNovos            : int  3986 1721 11850 18759 27267 35826 63292 49303 24382 34788 ...
 $ obitosAcumulado       : int  619105 619133 619209 619384 619513 619641 619822 619937 619981 620091 ...
 $ obitosNovos           : int  49 28 76 175 129 128 181 115 44 110 ...
 $ Recuperadosnovos      : int  21581668 21581717 21591847 21603954 21615473 21626836 21650151 21652319 21634074 21636133 ...
 $ emAcompanhamentoNovos : int  90734 92378 94022 100499 116118 140453 180249 227269 269852 302471 ...
 $ interior.metropolitana: int  NA NA NA NA NA NA NA NA NA NA ...

Let's keep complete data by "ESTADO":

In [ ]:
dataCovid=dataCovid[dataCovid$estado!="",]

Let's keep some columns:

In [ ]:

toSelect=c('regiao', 'estado', 'municipio','data', 'semanaEpi','casosNovos', 'obitosNovos')
covid=dataCovid[,toSelect]

head(covid)

    regiao estado municipio data       semanaEpi casosNovos obitosNovos
182 Norte  RO               2022-01-01 52         34        3
183 Norte  RO               2022-01-02  1         32        2
184 Norte  RO               2022-01-03  1         91        3
185 Norte  RO               2022-01-04  1        254        3
186 Norte  RO               2022-01-05  1        232        3
187 Norte  RO               2022-01-06  1        391        8

Let's format the dates, and get date details:

In [3]:
covid$data=strptime(covid$data, "%Y-%m-%d")
covid$day=format(covid$data,"%d")
covid$year=format(covid$data,"%Y")
covid$month=format(covid$data,"%m")
head(covid)

ERROR: Error: object 'covid' not found

Let's find out about years available:

In [ ]:
unique(covid$year)

[1] "2022"

In [ ]:
unique(covid$month)

[1] "01" "02" "03" "04" "05" "06" "07"

So, we have data from January to July 2022.
Let's find out: **count of new positive cases per month**:

In [ ]:
sum(covid$casosNovos[covid$month=='07'])

[1] 2192552

In [ ]:
sum(covid$casosNovos[covid$month=='06'])

[1] 2677960

In [ ]:
sum(covid$casosNovos[covid$month=='05'])

[1] 1141604

...

In [ ]:
sum(covid$casosNovos[covid$month=='01'])

[1] 6278446

We use **aggregation** to simplify the previous steps:

In [ ]:
# sum of cases by month
casesSumByMonth=aggregate(data=covid,casosNovos~month,sum)
casesSumByMonth

  month casosNovos
1 01    6278446
2 02    6721752
3 03    2320550
4 04    1000682
5 05    1141604
6 06    2677960
7 07    2192552

**AGGREGATING** capabilities allow us to produce useful output with few code:

* **The groupings**:

In the last example, _month_ was the **grouping** variable. We can have more the one of those:

In [ ]:
# sum of cases by estado and week
casesSumByStateAndMonth=aggregate(data=covid,casosNovos~estado + month,sum)
casesSumByStateAndMonth

    estado month casosNovos
1   AC     01     25752
2   AL     01     32320
3   AM     01    192126
4   AP     01     49954
5   BA     01    184908
6   CE     01    336702
7   DF     01    173908
8   ES     01    426590
9   GO     01    178684
10  MA     01     31844
11  MG     01    979192
12  MS     01     85678
13  MT     01    142290
14  PA     01     45352
15  PB     01     69176
16  PE     01    105172
17  PI     01     17148
18  PR     01    707518
19  RJ     01    808654
20  RN     01     77328
21  RO     01     67374
22  RR     01     26960
23  RS     01    638356
24  SC     01    397952
25  SE     01     30372
26  SP     01    379996
27  TO     01     67140
28  AC     02     38646
29  AL     02     66598
30  AM     02     87402
⋮   ⋮      ⋮     ⋮
160 SE     06      5738
161 SP     06    413106
162 TO     06     28580
163 AC     07     22590
164 AL     07     21452
165 AM     07     27728
166 AP     07     23188
167 BA     07    128418
168 CE     07    156774
169 DF     07     41838
170 ES     07    137658
171 GO     07    171212
172 MA     07     22770
173 MG     07    302132
174 MS     07     21770
175 MT     07     77988
176 PA     07     29618
177 PB     07     39846
178 PE     07     81004
179 PI     07     18726
180 PR     07     99222
181 RJ     07    151322
182 RN     07     32328
183 RO     07     40884
184 RR     07     21518
185 RS     07    127860
186 SC     07     63410
187 SE     07     17008
188 SP     07    285542
189 TO     07     28746

* **The function to apply**:

We can have more than one function:

In [ ]:
# sum and mean of cases by estado and week
casesSumAndMeanByStateAndWeek=aggregate(data=covid,casosNovos~estado + semanaEpi,
          function(x) c(mean = mean(x), sum = sum(x) ) )


head(casesSumAndMeanByStateAndWeek,30)

   estado semanaEpi casosNovos
1  AC     1           0.2111801,    34
2  AL     1           1.8159341,  1322
3  AM     1           6.9569161,  3068
4  AP     1           7.8487395,   934
5  BA     1           3.9570406, 11606
6  CE     1           6.0890937,  7928
7  DF     1         729.2857143, 10210
8  ES     1          16.7678571,  9390
9  GO     1           6.2926267, 10924
10 MA     1           1.6086106,  2466
11 MG     1          11.0843776, 66340
12 MS     1          11.3535714,  6358
13 MT     1          10.2537463, 10264
14 PA     1           6.4926108,  6590
15 PB     1           1.0946032,  1724
16 PE     1           4.5362872,  5938
17 PI     1          12.5246523, 19814
18 PR     1          19.5404346, 54850
19 RJ     1          90.0668693, 59264
20 RN     1           4.6187658,  5464
21 RO     1           8.5714286,  3240
22 RR     1          13.3949580,  1594
23 RS     1          13.1188090, 45824
24 SC     1          16.6782107, 34674
25 SE     1           1.0241187,   552
26 SP     1           6.4667697, 29288
27 TO     1           6.4599797,  6376
28 AC     2          15.3043478,  2464
29 AL     2           6.3241758,  4604
30 AM     2          51.2290249, 22592

...or better:

In [ ]:
casesSumAndMeanByStateAndWeek=do.call(data.frame, aggregate(data=covid,casosNovos~estado + semanaEpi,
function(x) c(mean = mean(x), sum = sum(x) ) ))
head(casesSumAndMeanByStateAndWeek,30)

   estado semanaEpi casosNovos.mean casosNovos.sum
1  AC     1           0.2111801        34
2  AL     1           1.8159341      1322
3  AM     1           6.9569161      3068
4  AP     1           7.8487395       934
5  BA     1           3.9570406     11606
6  CE     1           6.0890937      7928
7  DF     1         729.2857143     10210
8  ES     1          16.7678571      9390
9  GO     1           6.2926267     10924
10 MA     1           1.6086106      2466
11 MG     1          11.0843776     66340
12 MS     1          11.3535714      6358
13 MT     1          10.2537463     10264
14 PA     1           6.4926108      6590
15 PB     1           1.0946032      1724
16 PE     1           4.5362872      5938
17 PI     1          12.5246523     19814
18 PR     1          19.5404346     54850
19 RJ     1          90.0668693     59264
20 RN     1           4.6187658      5464
21 RO     1           8.5714286      3240
22 RR     1          13.3949580      1594
23 RS     1          13.1188090     45824
24 SC     1          16.6782107     34674
25 SE     1           1.0241187       552
26 SP     1           6.4667697     29288
27 TO     1           6.4599797      6376
28 AC     2          15.3043478      2464
29 AL     2           6.3241758      4604
30 AM     2          51.2290249     22592

* **The variables transformed**:

We can apply the function to more than one variable:

In [ ]:
# sum of cases and deaths by estado

CasesAndDeathsByState=aggregate(data=covid,
                                cbind(casosNovos,obitosNovos)~estado,
                                sum)

head(CasesAndDeathsByState,30)

   estado casosNovos obitosNovos
1  AC       98212      318
2  AL      147788     1302
3  AM      330308      734
4  AP       91570      254
5  BA      739720     5438
6  CE      776922     5106
7  DF      613688     1406
8  ES     1116860     2594
9  GO     1279760     4834
10 MA      167962     1088
11 MG     3096646    11986
12 MS      360654     1906
13 MT      489366     2058
14 PA      344476     2822
15 PB      348380     1458
16 PE      742412     3074
17 PI       95070     1136
18 PR     2148870     6822
19 RJ     2142644    10174
20 RN      310882     1508
21 RO      305848     1092
22 RR       82642      160
23 RS     2208120     7778
24 SC     1164718     3972
25 SE      120602      676
26 SP     2810310    34144
27 TO      199116      482

* Function **according** to variable

The function can vary according to variable.  In this case, using **dplyr** is needed:

In [ ]:
library(dplyr)
covid |>
  group_by(month) |>
  summarize(casosNovos_VAR = var(casosNovos),
            casosNovos_SD = sd(casosNovos),
            obitosNovos_Median = median(obitosNovos),
            obitosNovos_Mean = mean(obitosNovos))

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  month casosNovos_VAR casosNovos_SD obitosNovos_Median obitosNovos_Mean
1 01    326469.20      571.3748      0                  0.09281227
2 02    306066.65      553.2329      0                  0.28219244
3 03     72432.53      269.1329      0                  0.11970739
4 04     82381.53      287.0218      0                  0.04438116
5 05     89456.42      299.0927      0                  0.03650708
6 06     61557.08      248.1070      0                  0.05624778
7 07     74893.74      273.6672      0                  0.08545746